{
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },

  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true,
      "generators": false,
      "objectLiteralDuplicateProperties": false
    }
  },

  "globals": {
    "$": false
  },

  "extends": "standard",
  "rules": {
    "no-extra-semi": "error",
    "semi": [
      2,
      "always"
    ]
  }
}
